<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <title>@ViewBag.Title - BloombergReaderWeb</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <style>
        #header {
            background-color: #2A2CBF;
        }
        
        #header li a {
            color: white;
        }
        
        #header li a:hover {
            background-color: #DEAB63;
        }
            
    </style>
</head>
<body>

    <div class="navbar navbar-fixed-top" id="header">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("IntradayBarTable", "Index", "IntradayBarTable")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </div>
    </div>

    <div class="container text-left">
        <h1>@ViewBag.Title</h1>
    </div>

    @RenderBody()

    <div id="footer">
        <div class="navbar navbar-inner navbar-fixed-bottom">
            <p class="text-center">Copyright © 2016 Andrii Tkach. Some Rights Reserved :)</p>
        </div>
    </div>

</body>
</html>