<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - BloombergReader</title>
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jQueryRotate-2.3.js"></script>

    <style>
        #header {
            background-color: #2A2CBF;
        }
        
        #header li a {
            color: white;
        }
        
        #header li a:hover {
            background-color: #DEAB63;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <div class="container navbar navbar-static-top" id="header">
        <ul  class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("IntradayBarTable", "IntradayBarTable", "IntradayBarTable")</li>
            <li>@Html.ActionLink("News", "ReadNews", "News")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
        </ul>
    </div>

    <div class="container body-content text-left">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </div>
    
    <footer id="footer">
        <div class="container">
            <p class="text-center">Copyright © 2016 Andrii Tkach. Some Rights Reserved :)</p>
        </div>
    </footer>

    
</body>
</html>