<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - BloombergReader</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <style>
        #header {
            background-color: #2A2CBF;
        }
        
        #header li a {
            color: white;
        }
        
        #header li a:hover {
            background-color: #DEAB63;
        }

    </style>
</head>
<body>
    <div class="container navbar navbar-static-top" id="header">
        <ul  class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("IntradayBarTable", "Index", "IntradayBarTable")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
        </ul>
    </div>

    <div class="container body-content text-left">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </div>

    <div class="container navbar navbar-inner navbar-fixed-bottom">
        <hr />
        <footer>
            <p class="text-center">Copyright © 2016 Andrii Tkach. Some Rights Reserved :)</p>
        </footer>
    </div>

</body>
</html>