<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - BloombergReader</title>
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Layout.css" rel="stylesheet" type="text/css" />    
    @RenderSection("ImageGallery", false)

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jQueryRotate-2.3.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-static-top" id="header">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("IntradayBarTable", "IntradayBarTable", "IntradayBarTable")</li>
                <li>@Html.ActionLink("News", "ReadNews", "News")</li>
                <li>@Html.ActionLink("Gallery", "Gallery", "Gallery")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </div>

        <div class="body-content text-left">
            <h2>@ViewBag.Title</h2>
            @RenderBody()
        </div>

        <footer id="footer">
            <p class="text-center">Copyright &copy 2016 Andrii Tkach. Some Rights Reserved :)</p>
        </footer>
    </div>
</body>
</html>